.cache/*
.venv/*
cloud-config

# secrets
secrets.*
*.env

# packer
alpine/auto.pkrvars.hcl

# ansible
**/test.yml
ansible/vars.yml

# terraform
**/.terraform/*
*.tfstate
*.tfstate.*
*.tfvars
tf_ansible_*

!template/*
