HCLOUD_TOKEN=<HCLOUD_TOKEN>
CLOUDFLARE_API_TOKEN=<CLOUDFLARE_API_TOKEN>

USERNAME=<USERNAME>
PASSWORD=<PASSWORD>
TIMEZONE=<TIMEZONE>
EMAIL=<EMAIL>

SSH_PUBLIC_KEY_PATH=<SSH_PUBLIC_KEY_PATH>
SSH_PRIVATE_KEY_PATH=<SSH_PRIVATE_KEY_PATH>

BLOG_REPOSITORY=<BLOG_REPOSITORY>

# docker images
SXKCD_IMAGE=<SXKCD_IMAGE>
CGIT_IMAGE=<CGIT_IMAGE>
CADDY_IMAGE=<CADDY_IMAGE>
