---
version: '3.6'
services:
  cgit:
    image: "{{ cgit_image }}"
    container_name: cgit
    restart: unless-stopped
    volumes:
      - "./cgit/repos:/srv/git"
      - "./cgit/cgit.d:/etc/cgit.d"
    networks:
      - shared

  redis:
    image: redis/redis-stack-server:6.2.6-v9
    container_name: redis
    hostname: redis
    environment:
      REDIS_ARGS: --save 20 1 --appendonly yes
    restart: unless-stopped
    volumes:
      - "./sxkcd/redis:/data"
    healthcheck:
      test: ["CMD-SHELL", "redis-cli", "ping", "|", "grep", "pong"]
      interval: 10s
      timeout: 3s
      retries: 5
    networks:
      - sxkcd

  sxkcd:
    container_name: sxkcd
    hostname: app
    image: "{{ sxkcd_image }}"
    command: ["server", "-p", "6380", "-r", "redis:6379", "-f", "/data/comics.json", "--reindex"]
    restart: unless-stopped
    volumes:
      - "./sxkcd/data:/data:ro"
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - sxkcd
      - shared

  caddy:
    image: "{{ caddy_image }}"
    container_name: caddy
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    ports:
      - 80:80
      - 443:443
      - "443:443/udp"
    volumes:
      - "./caddy/Caddyfile:/etc/caddy/Caddyfile:ro"
      - "./caddy/data:/data"
      - "./caddy/config:/config"
      - "./caddy/logs:/var/log"
      - "./site:/srv"
    depends_on:
      - sxkcd
      - cgit
    networks:
      - shared

networks:
  shared:
    name: shared
  sxkcd:
    name: sxkcd
